---
version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: weekly
    groups:
      github.com/aws/aws-sdk-go-v2:
        patterns:
          - "github.com/aws/aws-sdk-go-v2*"
      go.opentelemetry.io:
        patterns:
          - "go.opentelemetry.io*"
  - package-ecosystem: "terraform"
    directory: "/infrastructure/"
    schedule:
      interval: daily
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "terraform"
    directory: "/integration/tests/bucket_subscription"
    schedule:
      interval: daily
  - package-ecosystem: "terraform"
    directory: "/integration/tests/check"
    schedule:
      interval: daily
  - package-ecosystem: "terraform"
    directory: "/integration/tests/setup"
    schedule:
      interval: daily
