version: 0.1

default:
  build:
    parameters:
      cached: true
      parallel: true
  validate:
    parameters:
      lint: true
  sync:
    parameters:
      watch: true
  local_start_api:
    parameters:
      warm_containers: "EAGER"
  local_start_lambda:
    parameters:
      warm_containers: "EAGER"
