name: Run Go tests

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        go: [ 1.21.x ]
        platform: [ ubuntu-latest ]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test
      run: make test
